.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card img {
  height: 200px;
  object-fit: contain;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* .action-button {
  width: 100%;
  justify-content: space-between;
}
button {
  width: 45%;
  height: 50px;
} */

.product-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pro-cat {
    position: absolute;
    top: 10px;
    left: 10px;
}